
.card_container {
    width: 350px;
    perspective: 1000px;
  }
  
  .ionCard {
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: linear-gradient(45deg, #4b6cb7, #182848);
    background-image: linear-gradient(#453F78, #3F2E56,#401F3E);
    color: white;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.card_logo {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 80px;
    height: 80px;
    background-image: url("./Images/cashcontrollogo.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.card_chip {
    margin-top: 10px;
    width: 40px;
    height: 40px;
    background-image: url("./Images/card_chip.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.name_number {
    font-size: 14px;
    letter-spacing: 2px;
}

.card_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
  }
  
  .total_spending_label,
  .total_balance_label {
    font-size: 0.8em;
    margin-top: 5px;
  }
  
  .total_spending,
  .total_balance {
    letter-spacing: .456rem;
    margin-top: 10px;
    font-size: 1.2em;
    font-family: "Courier New", monospace;
  }