
.card_container {
    width: 350px;
    perspective: 1000px;
  }
  .personalinfo_label{
    color:white;
  }
  
  .ionCard {
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    /* background: linear-gradient(45deg, #4b6cb7, #182848); */
    background: linear-gradient(45deg, #1e88e5, #512da8);
    color: white;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

.card_logo {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 80px;
    height: 80px;
    background-image: url("./Images/cashcontrollogo.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.card_chip {
  margin-top: 10px;
  width: 40px;
  height: 40px;
  background-image: url("./Images/card_chip.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.name_number {
  font-size: 14px;
  letter-spacing: 2px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 35%;
  transform: translate(-50%, -50%);
}

.card_info {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  position: absolute;
  top: 55%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.card_numbers {
  display: flex;
  gap: 16px;
}

.card_labels {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 5px;
}

.total_spending_label {
  font-size: 0.8em;
  margin: 0;
  color: white;
  margin-left: -8px; /* Adjust the position of the "Total Spending (30d)" label */
}

.fine_print {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.4em; 
  color: white; /* Set the text color to white */
  opacity: 0.8;
  white-space: nowrap;
}
.arrow {
  margin-left: 3px; 
}
.total_balance_label {
  font-size: 0.8em;
  margin: 0;
  color: white;
}
.fine_print {
  position: absolute;
  bottom: 8px;
  font-size: 0.7em;
  opacity: 0.8;
}
.total_spending,
.total_balance {
  letter-spacing: .456rem;
  margin: 0;
  font-size: 1.2em;
  font-family: "Courier New", monospace;
  color: white;
}


