body {
  background-color: var(--background-color);
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1024px;
  padding: 20px;
} 

:root {
  --primary-color: #1e6ba9; /* Dark blue */
  --secondary-color: #4caf50; /* Green */
  --neutral-color: #4a4a4a; /* Dark gray */
  --background-color: #ffffff; /* White */
}

.headers, 
.transactionCard {
  color: var(--neutral-color);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  gap: 10px;
  align-items: center;
  padding: 10px;
}

.headers {
  background-color: var(--primary-color);
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 2px solid #ccc;
  margin-bottom: 10px;
}

.transactionCard {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  margin-bottom: 10px;
  padding: 10px;
}

.transactionCard:nth-child(even) {
  background-color: #e9e9e9;
}

.transactionCard p {
  margin: 0;
  padding: 0;
  text-align: left;
}

.termsModal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
}

.modalContent {
  background-color: var(--primary-color);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  padding: 20px;
  text-align: center;
  width: 90%;
}

.modalContent h3 {
  margin-bottom: 20px;
}

.modalContent p {
  font-size: 1rem;
  margin-bottom: 20px;
  text-align: left;
}

.modalContent label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.modalContent input[type='text'] {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
  font-size: 0.9rem;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

.modalContent button {
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.modalContent button:hover {
  background-color: #0056b3;
}

.investmentContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.investmentCard {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1rem;
background-color: #f5f5f5;
}

.notification {
padding: 12px 16px;
margin: 8px 0;
border-radius: 4px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.notification.new {
background-color: var(--secondary-color);
border: 1px solid #b2f2bb;
}

.notification.modified {
background-color: #fff7e6;
border: 1px solid #ffe066;
}

.notification.removed {
background-color: #ffdde5;
border: 1px solid #ff6b81;
}

.notification p {
margin: 0;
font-weight: 500;
}

.notification-list {
max-height: 200px; /* Adjust this value based on the height of your notifications */
overflow-y: auto;
position: absolute;
background-color: #fff;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
border-radius: 4px;
width: 100%;
z-index: 1;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  max-height: 400px; /* You can adjust this value to control the height of the dropdown */
  overflow-y: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.notification-list::-webkit-scrollbar {
display: none;
}

.container {
display: flex;
flex-direction: column;
margin: 0 auto;
max-width: 1024px;
padding: 20px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.logoAndSlogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userControls {
display: flex;
flex-direction: column;
align-items: flex-end;
position: relative;
}

.greeting {
margin-right: 30px;
}

@keyframes fadeIn {
from {
  opacity: 0;
}
to {
  opacity: 1;
}
}
.personalInfoButton {
background-color: var(--primary-color);
border: none;
border-radius: 5px;
color: #fff;
cursor: pointer;
font-size: 1rem;
padding: 10px 20px;
text-transform: uppercase;
transition: background-color 0.3s;
margin-right: 10px;
position: relative;
}

.dropdownContent {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateY(-10px) translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  min-width: 200px;
}

.dropdownContent.show {
opacity: 1;
animation: fadeIn 0.3s ease;
pointer-events: auto;
}

.personalInfoButton:hover {
background-color: #0056b3;
}

/* Main content */
.mainContent {
display: flex;
justify-content: space-between;
margin-bottom: 30px;
}

.totalSpendingContainer,
.accountBalanceContainer {
display: flex;
flex-direction: column;
align-items: center;
}

.totalSpendingLabel,
.accountBalanceLabel {
color: var(--neutral-color);
font-size: 1.2rem;
font-weight: bold;
}

.totalSpending,
.accountBalance {
font-size: 1.5rem;
font-weight: bold;
}

/* Graph container */
.graphContainer {
  width: 100%;
  height: 300px;
  background-color: #f5f5f5;
  border-radius: 5px;
  margin-bottom: 30px;
}

/* Transactions, Bills, Investments */
.transactions,
.bills,
.investments {
  margin-bottom: 20px;
}

.transactions h2,
.bills h2,
.investments h2 {
  margin-bottom: 10px;
}

.logo {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 0;
}

.logoAndSlogan span:nth-child(2) {
  font-size: 1rem;
  text-align: center;
}

.slogan {
  font-size: 1.2rem;
  margin-top: 0;
}

.greetingAndBell {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.bellIcon {
  margin-left: 10px;
  cursor: pointer;
}

.bellIcon path {
  fill: var(--accent-color2);
}

.bellIcon:hover path {
  fill: var(--accent-color3);
}