/* body {
  font-family: 'Roboto', sans-serif;
  background-color: #1f1f1f;
  color: #f5f5f5;
  
} */
body {
  --ion-background-color: #222;
  --ion-background-color-rgb: 34, 34, 34;
  --ion-text-color: #fff;
  --ion-text-color-rgb: 255, 255, 255;
  --ion-color-step-100: #0e0e0e;
  --ion-color-step-200: #1a1a1a;
  --ion-color-step-300: #262626;
  --ion-color-step-400: #333;
  --ion-color-step-500: #404040;
  --ion-color-step-600: #4d4d4d;
  --ion-color-step-700: #595959;
  --ion-color-step-800: #666;
  --ion-color-step-850: #7a7a7a;
  --ion-color-step-900: #808080;
  --ion-color-step-950: #999;
}
.titleRow {
  align-items: center;
}

.leftTitle,
.rightTitle {
  font-size: 2.5rem; /* Adjust the font size as needed */
  text-align: center;
}

.leftTitle {
  padding-right: 1rem;
}

.rightTitle {
  padding-left: 1rem;
}
.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1024px;
  padding: 20px;
}

:root {
  --primary-color: #1e6ba9;
  --secondary-color: #3c9f50;
  --neutral-color: #4a4a4a;
  --background-color: #1f1f1f;
  --primary-text-color: #f5f5f5;
  --secondary-text-color: #3c9f50;
  --accent-color: #32CD32;
}


.headers,
.transactionCard {
  color: var(--primary-text-color);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  gap: 10px;
  align-items: center;
  padding: 10px;
  border: 1px solid #3c9f50;
}

.headers {
  background-color: #2b2b2b;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 2px solid #ccc;
  margin-bottom: 10px;
  border-bottom: 1px solid #3c9f50;
}

.transactionCard {
  background-color: #222222;
  border: 1px solid #444444;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 2fr 1fr 2fr;
  margin-bottom: 10px;
  padding: 10px;
}

.custom-ion-content {
  --offset-height: calc(100% - 60px); 
  max-height: 100%;
}

.scrollableContainer {
  height: calc(100% - 80px); 
  overflow-y: auto;
  padding: 1rem;
  border: 1px solid #ddd; 
  border-radius: 4px; 
  margin-bottom: 1rem;
}

.transactionCard:nth-child(even) {
  background-color: #282828;
}

.transactionCard p {
  margin: 0;
  padding: 0;
  text-align: left;
}

.termsModal {
  align-items: center;
  background-color: rgba(31, 31, 31, 0.85);
  display: flex;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1000;
}

.modalContent {
  background-color: #2b2b2b;
  color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  background-color: #f5f5f5;
}

.modalContent h3 {
  margin-bottom: 20px;
}

.modalContent p {
  font-size: 1rem;
  margin-bottom: 20px;
  text-align: left;
}

.modalContent label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.modalContent input[type='text'] {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
  font-size: 0.9rem;
  margin-bottom: 10px;
  padding: 5px;
  width: 100%;
}

.modalContent button {
  background-color: #3c9f50;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.modalContent button:hover {
  background-color: #2c7a3e;
}

.investmentContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.investmentCard {
  border-radius: 5px;
  padding: 1rem;
  background-color: #2b2b2b;
  border: 1px solid #3c9f50;
  color: #f5f5f5;
}

.notification {
  padding: 12px 16px;
  margin: 8px 0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #3c9f50;
}

.notification.new {
  background-color: #3c9f50;
  border: 1px solid #2c7a3e;
}

.notification.modified {
  background-color: #f5f5f5;
  border: 1px solid #3c9f50;
}

.notification.removed {
  background-color: #ff6b81;
  border: 1px solid #3c9f50;
}

.notification p {
  margin: 0;
  font-weight: 500;
}

.notification-list {
  max-height: 200px;
  /* Adjust this value based on the height of your notifications */
  overflow-y: auto;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 100%;
  z-index: 1;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #2b2b2b;
  border: 1px solid #3c9f50;
  border-radius: 5px;
  padding: 10px;
  max-height: 400px;
  /* You can adjust this value to control the height of the dropdown */
  overflow-y: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.notification-list::-webkit-scrollbar {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1024px;
  padding: 20px;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.logoAndSlogan {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.userControls {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.greeting {
  margin-right: 30px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.personalInfoButton {
  background-color: #3c9f50;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 10px 20px;
  text-transform: uppercase;
  transition: background-color 0.3s;
  margin-right: 10px;
  position: relative;
}

.dropdownContent {
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateY(-10px) translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
  border-radius: 5px;
  padding: 10px;
  min-width: 200px;
  background-color: #2b2b2b;
  border: 1px solid #3c9f50;
  color: #f5f5f5;
}

.dropdownContent.show {
  opacity: 1;
  animation: fadeIn 0.3s ease;
  pointer-events: auto;
}

.personalInfoButton:hover {
  background-color: #2c7a3e;
}

/* Main content */
.mainContent {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.totalSpendingContainer,
.accountBalanceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.totalSpendingLabel,
.accountBalanceLabel {
  color: var(--neutral-color);
  font-size: 1.2rem;
  font-weight: bold;
}

.totalSpending,
.accountBalance {
  font-size: 1.5rem;
  font-weight: bold;
}

.graphContainer {
  width: 100%;
  height: 300px;
  background-color: #2b2b2b;
  border: 1px solid #3c9f50;
  border-radius: 5px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 16px
}

.graphTitles {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

.leftTitle,
.rightTitle {
  margin: 1rem 0;
  font-size: 2.2rem;
}

.graphContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.lineChartContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

/* Transactions, Bills, Investments */
.transactions,
.bills,
.investments {
  margin-bottom: 20px;
}

.transactions h2,
.bills h2,
.investments h2 {
  margin-bottom: 10px;
}

.logo {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 0;
  color: #3c9f50;

}

.logoAndSlogan span:nth-child(2) {
  font-size: 1rem;
  text-align: center;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.slogan {
  font-size: 1.2rem;
  margin-top: 0;
}

.greetingAndBell {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.bellIcon {
  margin-left: 10px;
  cursor: pointer;
}

.bellIcon path {
  fill: var(--accent-color2);
}

.bellIcon:hover path {
  fill: var(--accent-color3);
}

/* Cards start */
.card {
  perspective: 1000px;
}

.cardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card:hover .cardInner {
  transform: rotateY(180deg);
}

.cardFront,
.cardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.card:not(.flipped):hover .cardInner {
  transform: rotateY(180deg);
}

.cardFront {
  background-color: var(--background-color);
}

.cardBack {
  background-color: var(--neutral-color);
  color: var(--background-color);
  transform: rotateY(180deg);
}

/* cards end */